.aboutme{
  display: flex;
  width: 100%;
  
  max-width: 70rem;
  margin: auto;
  align-items: center;
    

}

.aboutme-left img {
    height: 16rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.aboutme-left p {
  
  
}

.aboutme-right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

@media only screen and (max-width: 720px) {
    .aboutme-img{
        width: 70%;
    }
    .aboutme {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }
    .project-tags {
        max-width: 100%;
    }
}