.star {
    width: 40px;
    height: 40px;
}
.work-title {
    
    font-size: 32px;
    font-weight: 700;
   
}
.projects{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.project-img{
    width: 50%;
   
}

.project-img1{
    height: 32px;
    width: 32px;
    
   
}

.togglebtn{
   margin: 2px;
   background: local;
   border-radius: 25%;
   
    
}
.project-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}

.project-info {
    margin-right: 24px;
}

.project-title {
    font-size: 20px;
    font-weight: 600;
}

.project-tags {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}


.project-links a {
    text-decoration: none;
    color: black;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
}

.project-links {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}




@media only screen and (max-width: 720px) {
    .project-img{
        width: 100%;
    }
    .project-card {
        flex-direction: column-reverse;
    }
    .project-info {
        margin-left: 0px;
        margin-top: 12px;
    }

    .project-img1{
        height: 24px;
        width: 24px;
    
       
    }
    
}