{% load static %}

<!doctype html>
<html lang=en dir=ltr>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />


<head>
	<meta charset=utf-8 />
	<meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1" />
	<meta name=description content="Professional product designer and frontend developer based in Lagos, Nigeria" />
	<meta name=keywords content="HTML, CSS, JavaScript, Figma, Product Design, User interface, user experience" />
	<meta name=author content="Oluwakemi Adeleke" />
	<link rel="shortcut icon" type=image/svg href="{% static 'image/logo.png' %}" />
	<title>Django | Full Stack Python django web developer</title>
	<link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body data-spy=scroll data-target=.navbar data-offset=200>
	<header class=header-section id=home>
		<nav class="navbar navbar-expand-md px-0 main-nav sticky nav-index" data-sticky-wrap=true data-sticky-class=stuck>
			<div class="container px-4">
				<a class=navbar-brand href=#home> <img src="{% static 'image/logo.png' %}" width="175px;" alt="" /> </a>
				<button class="navbar-toggler open-nav" type=button aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
					<div class=toggle-menu-wrapper>
						<div class=toggle-menu>
							<div class="line line1"></div>
							<div class="line line2"></div>
							<div class="line line3"></div>
						</div>
					</div>
				</button>
				<div class="collapse navbar-collapse" id=navbarSupportedContent>
					<ul class="navbar-nav ml-md-auto">
						<li class=nav-item> <a class=nav-link href=#home>Home <span class=sr-only>(current)</span></a> </li>
						<li class=nav-item> <a class=nav-link href=#about>About</a> </li>
						<li class=nav-item> <a class=nav-link href=#services>Services</a> </li>
						<li class=nav-item> <a class=nav-link href=#portfolio>Portfolio</a> </li>
						<!-- <li class=nav-item> <a class=nav-link href=#contact>Contact Me</a> </li> -->
						<li class=nav-item> <a class="nav-link case-studies" href=#contact>Contact Me</a> </li>
					</ul>
				</div>
			</div>
		</nav>
		<div class=container>
			<div class=hero-wrapper>
				<div class=hero-text-wrapper>
					<p class=hi> Hi There <img src="{% static 'image/emoji.svg' %}" alt="" /> I'm </p>
					<h1>MEHEDI HASAN</h1>
					<h3>Full-Stack Python Django Web developer <img src="" alt="" style=margin-left:.2rem /></h3>
					<p class=info> I’m a professional Full-Stack Python developer with front-end and back-end development skills. </p>
					<a href=#contact> <span>Hire Me</span> </a>
				</div>
				<div class=hero-image-wrapper> <img src="{% static 'image/hero.png' %}" alt=hero-image /> </div>
			</div>
		</div>
	</header>
	<main>
		<section class="about-section container" id=about>
			<div class=image-div data-aos=fade-right> <img src="{% static 'image/2.jpg' %}" alt="Mehedi's Photo" loading=lazy /> </div>
			<div class=about-text-div>
				<div class="header about-header">
					<div class=inner>
						<div data-aos=fade-up> <span>Who I am</span> <span class=line></span> </div>
						<h3 data-aos=fade-up>About Me</h3> </div>
				</div>
				<div class=text>
					<p data-aos=fade-up> I'm Mehedi Hasan,I am a software engineer working on web applications and web infrastructure.
						I have been developing professionally for 2 years but tinkering since a kid.
						I started in tech with internships, freelance services and part time positons during college.
						<strong>I'm Python Django Full-Stack Web Developer </strong> 💻 with a strong
						educational background in Software Engineering. I am doing
						freelance work 🚀 <strong> in Fiverr and Frelancer </strong>, but I do
						work remotely for international clients.</p>
					<p data-aos=fade-up>  I started creating  web app using<strong> Django,Reactjs, HTML and CSS</strong> back in
						2018. <strong>I'm a Python Django Expert</strong> and extremely
						passionate about coding. I love to learn new things every day and
						keep up with the new technologies. In many ways, websites are my
						first love 💙</p>
					<p data-aos=fade-up>  A day in my life may consist of: prepping web art, fixing some front-end bugs,
						adding an API endpoint, dockerizing an application, database design, configuring a unit or ui test library,
						setting up a build or deployment plan, provisioning a test tier machine or feature work when I am lucky. </p>
				</div>
				<a href="{% static 'image/MehediResume.pdf' %}" data-aos=fade-up> <span>Download CV</span> </a>
			</div>
		</section>
		<section class="services-section container" id=services>
			<div class="header services-header">
				<div class=inner>
					<div data-aos=fade-up> <span>What I do</span> <span class=line></span> </div>
					<h3 data-aos=fade-up>My Services</h3> </div>
			</div>
			<div class=services-card-wrapper>
				<div class="services-card interface" data-aos=fade-up data-aos-delay=200>
					<div> <img src="{% static 'image/react-logo.svg' %}" alt="" /> </div>
					<h5>Responsive Design</h5>
					<p> In 2022 you can't go online without having a mobile responsive
						website. Let me take care of that for you! </p>
				</div>
				<div class="services-card development" data-aos=fade-up data-aos-delay=400>
					<div> <img src="{% static 'image/brackets.svg' %}" alt="" /> </div>
					<h5>Website Development</h5>
					<p>  HTML, CSS (Bootstrap), JavaScript , Python, Django
						I can deploy your web app on Heroku,DigitalOcean,
						pythonanywhere etc </p>
				</div>
				<div class="services-card marketing" data-aos=fade-up data-aos-delay=600>
					<div> <img src="{% static 'image/digital-marketing.svg' %}" alt="" /> </div>
					<h5>PSD to HTML</h5>
					<p> If you already have a design in Photoshop, Invision or any other
						format, I can convert it from scratch into pixel-perfect
						HTML/CSS/JS website. </p>
				</div>
			</div>
		</section>
		<section class="workflow-section container">
			<div class="header workflow-header">
				<div class=inner>
					<div data-aos=fade-up> <span>Work Flow</span> <span class=line></span> </div>
					<h3 data-aos=fade-up>My Work Process</h3> </div>
			</div>
			<div class=cards-wrapper>
				<div class="card idea" data-aos=zoom-in data-aos-delay=200> <img src="{% static 'image/work-idea.svg' %}" alt="" />
					<h6>Discover</h6>
					<p>I conduct user research to identify the problem I want to solve.</p>
				</div>
				<div class="card plan" data-aos=zoom-in data-aos-delay=400> <img src="{% static 'image/work-plan.svg' %}" alt="" />
					<h6>Define</h6>
					<p>I brainstorm possible design solutions to the identified problem.</p>
				</div>
				<div class="card sketch" data-aos=zoom-in data-aos-delay=600> <img src="{% static 'image/work-sketch.svg' %}" alt="" />
					<h6>Ideate</h6>
					<p>I create wireframes and sketches of the product I’m about to design.</p>
				</div>
				<div class="card design" data-aos=zoom-in data-aos-delay=800> <img src="{% static 'image/work-design.svg' %}" alt="" />
					<h6>Prototype</h6>
					<p>I create high fidelity design and prototype the screens.</p>
				</div>
				<div class="card design" data-aos=zoom-in data-aos-delay=1000> <img src="{% static 'image/implement.svg' %}" alt="" />
					<h6>Implement</h6>
					<p>After designing, I deliver for implementation.</p>
				</div>
			</div>
		</section>
		<section class="portfolio-section container" id=portfolio>
			<div class="header portfolio-header">
				<div class=inner>
					<div data-aos=fade-up> <span>My Project</span> <span class=line></span> </div>
					<h3 data-aos=fade-up>My Portfolio</h3> </div>
			</div>
			<div class=flex-container data-aos=fade>
				<div class="profile-container port-container-1">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>Tadio Mobile App</h4>
							<p>A cryptocurrency mobile app which allows users buy and sell bitcoins, Etherum, Coinbase and Gift cards. Users can also recharge their mobile numbers from the app directly. </p> <a  target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
				<div class="profile-container port-container-2">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>ITB Agency Website</h4>
							<p> ITB media agency is a company into corporate communications and business development. The website was designed to increase the company’s conversion rate of customers. </p> <a target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
				<div class="profile-container port-container-3">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>DesignPal Mobile App</h4>
							<p> DesignPal is an AR mobile app which assists users to scan their new apartment and suggest various interior decorations and styles suitable for that particular apartment. </p> <a target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
				<div class="profile-container port-container-4">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>Afigo Website</h4>
							<p> Afigo website is a platform that shows tourists great places in Nigeria. The website was designed with quite a number of features that serves its purpose as a travel agency. </p> <a target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
				<div class="profile-container port-container-5">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>Pixelshub Mobile App</h4>
							<p> PixelsHub is a mobile app which connects professional photographers and creative artists to their potential clients globally. </p> <a target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
				<div class="profile-container port-container-6">
					<div class=profile-wrapper>
						<div class=profile-card>
							<h4>Tuteria Website</h4>
							<p> Tuteria Limited is a company which offers both onine and offline tutoring services to people. The landing page was designed to increase customer’s conversion rate and improve usability. </p> <a target="_blank" href=https://github.com/mehedihasan555552>View Github</a> </div>
					</div>
				</div>
			</div>
		</section>
		<section class="contact-section container" id=contact>
			<div class="header contact-header">
				<div class=inner>
					<div data-aos=fade-up> <span>Contact Me</span> <span class=line></span> </div>
					<h3 data-aos=fade-up>Get In Touch</h3> </div>
			</div>
			<div class=contact-header-text data-aos=fade-up>
				<p>I am available to work on your projects and bring your ideas to life. I am just a click away.</p>
			</div>
			<div class=contact-flex>
				<div class=left-icons>
					<div class=contact-info data-aos=fade-up>
						<div class=contact-image-div> <img src="{% static 'image/contact-address.svg' %}" alt="" /> </div>
						<p>Savar,Dhaka Bangladesh</p>
					</div>
					<div class=contact-info data-aos=fade-up>
						<div class=contact-image-div> <img src="{% static 'image/contact-email.svg' %}" alt="" /> </div> <a href=mailto:mehedihasan555552@gmail.com>mehedihasan555552@gmail.com</a> </div>
					<div class=contact-info data-aos=fade-up>
						<div class=contact-image-div> <img src="{% static 'image/contact-phone.svg' %}" alt="" /> </div> <a href=tel:+8801521333362>+8801521333362</a> </div>
				</div>
				<form class='contact-form' data-aos='fade-up'  method='POST'>
					{% csrf_token %}
					<input type='hidden' name='form-name' value='' />
					<p class=hidden style=visibility:hidden;height:0>
						<label>Don’t fill this out if you're human:
							<input name=bot-field />
						</label>
					</p>
					<input type=text placeholder="Full Name" name=name required/>
					<div>
						<input type=email placeholder=Email name=email required/>
						<input type=number placeholder="Phone Number" name=phone-number required/> </div>
					<textarea name=message id="" cols=30 rows=10 placeholder="Enter your message" required></textarea>
					<button type=submit>Submit</button>
				</form>
			</div>
		</section>
	</main>
	<footer>
		<div class=container>
			<div> <img src="{% static 'image/logo.png' %}" width="175px" alt="" /> </div>
			<div>
				<p>&copy; Copyright 2022. All right reserved</p>
			</div>
			<div>
				<a href="https://twitter.com/ridoy123439" target=_blank> <img src="{% static 'image/twitter.svg' %}" alt="link to twitter account" /> </a>
				<a href="https://www.linkedin.com/in/mehedi-hasan-b402b4116/" target=_blank> <img src="{% static 'image/linkedin.svg' %}" alt="link to linkedin account" /> </a>
				<a href="https://www.fiverr.com/mehedi555552" target=_blank> <img src="{% static 'image/behance.svg' %}" alt="link to fiverr account" /> </a>
				<a href="https://api.whatsapp.com/send?phone=8801521333362&text=Hello" target=_blank> <img src="{% static 'image/whatsapp.svg' %}" alt="link to whatsapp" /> </a>
			</div>
		</div>
	</footer>
	<div class=page-designs>
		<div class=grills> <img src="{% static 'image/side-element.svg' %}" alt="" class=element-1 /> <img src="{% static 'image/side-element.svg' %}" alt="" class=element-2 /> <img src="{% static 'image/side-element.svg' %}" alt="" class=element-3 /> <img src="{% static 'image/side-element.svg' %}" alt="" class=element-4 /> </div>
		<div class=page-overlay>
			<div class="layer layer-1"></div>
			<div class="layer layer-2"></div>
			<div class="layer layer-3"></div>
		</div>
		<div class=random-moving-divs>
			<div class=a></div>
			<div class=b></div>
			<div class=c></div>
			<div class=e></div>
			<div class=f></div>
			<div class=g></div>
			<div class=i></div>
			<div class=j></div>
			<div class=k></div>
		</div>
	</div>
	<div class=mobile-nav>
		<div class=container>
			<nav class=nav-bar>
				<ul class=nav-list>
					<li class="nav-list-item mobile-link"> <a href=#home class=nav-link>Home</a> </li>
					<li class="nav-list-item mobile-link"> <a href=#about class=nav-link>About</a> </li>
					<li class="nav-list-item mobile-link"> <a href=#services class=nav-link>Services</a> </li>
					<li class="nav-list-item mobile-link"> <a href=#portfolio class=nav-link>Portfolio</a> </li>
					<li class="nav-list-item mobile-link"> <a href=#contact class=nav-link>Contact Me</a> </li>
					<li class="nav-list-item mobile-link case-studies"> <a class="nav-link case-studies" href=casestudies.html>Case Studies</a> </li>
				</ul>
			</nav>
		</div>
	</div>
	<script src=../cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/easypiechart.min.js></script>
	<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>


</html>
